.tag-list {
  margin-top: 8px;
  display: flex;
  gap: 4px;
}

.tag-list__chip_protoss {
  background-color: #33CD58 !important;
}

.tag-list__chip_terran {
  background-color: #3A5AAB !important;
  color: #fafafa !important;
}

.tag-list__chip_zerg {
  background-color: #9B0000 !important;
  color: #fafafa !important;
}
