.build-order-list__filters {
  display: flex;
  gap: 8px;
  align-items: end;
}

.build-order-list__filters__clear {
  height: 56px;
}

.build-order-list__filters__tag-selector {
  width: 200px;
}

.build-order-list__filters__tag-selector__item_selected {
  background: red;
}
