.race-chip {
  transition: border,background;
  transition-duration: 150ms;
  background: transparent;
  border: 1px solid var(--stroke-input-enabled);
  border-radius: var(--radius);
  cursor: pointer;
  height: 24px;
  box-sizing: border-box;
  padding: 5px 12px;
}

.race-chip {
  background: var(--bg-global);
  border-radius: var(--radius);

  &:active {
    background: transparent;
  }
}

.race-chip__protoss {
  color: var(--stroke-race-green);

  &:hover {
    border: 1px solid var(--stroke-race-green);
    background: linear-gradient(180deg, rgba(33, 33, 41, 0) 0%, rgba(45, 143, 71, 0.15) 48.9%, rgba(51, 205, 88, 0.23) 100%);
  }

  &:active {
    border: 1px solid var(--stroke-race-green);
    background: transparent;
  }
  
}

.race-chip__protoss_selected {
  border: 1px solid var(--stroke-race-green);
}

.race-chip__terran {
  color: var(--stroke-race-blue);

  &:hover {
    border: 1px solid var(--stroke-race-blue);
    background: linear-gradient(180deg, rgba(33, 33, 41, 0) 0%, rgba(58, 90, 171, 0.15) 48.9%, rgba(37, 87, 211, 0.51) 100%);
  }

  &:active {
    border: 1px solid var(--stroke-race-blue);
    background: transparent;
  }

}

.race-chip__terran_selected {
  border: 1px solid var(--stroke-race-blue);
}

.race-chip__zerg {
  color: var(--stroke-race-red);

  &:hover {
    border: 1px solid var(--stroke-race-red);
    background: linear-gradient(180deg, rgba(33, 33, 41, 0) 0%, rgba(155, 0, 0, 0.11) 48.9%, rgba(155, 0, 0, 0.42) 100%);
  }

  &:active {
    border: 1px solid var(--stroke-race-red);
    background: transparent;
  }
}

.race-chip__zerg_selected {
  border: 1px solid var(--stroke-race-red);
}

